@model EsteticaAvanzada.Models.CapilarViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/ModalLayout.cshtml";
}

<div class=" col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <h5>Tratamientos capilares y alopecia</h5>
        </div>
        <div class=" card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-info"></div>
                <input type="hidden" asp-for="Paciente" />
                <div class="form-group">
                    <label></label>
                    <select asp-for="PacienteId" asp-items="Model.Pacientes" class="form-select"></select>
                    <span asp-validation-for="PacienteId" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <label> Antecedentes personales patológicos: </label>
                    <textarea asp-for="AntecedentesPatologicos" class="form-control"></textarea>
                    <span asp-validation-for="AntecedentesPatologicos" class="text-danger"></span>
                </div>               
                <div class=" form-group">
                    <label> Antecedentes InmunoAlérgicos: </label>
                    <textarea asp-for="AntecedentesInmunoAlergicos" class="form-control"></textarea>
                    <span asp-validation-for="AntecedentesInmunoAlergicos" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <label> Antecedentes quirurgicos: </label>
                    <textarea asp-for="AntecedentesQuirurgicos" class="form-control"></textarea>
                    <span asp-validation-for="AntecedentesQuirurgicos" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <label> Motivo Consulta: </label>
                    <textarea asp-for="MotivoConsulta" class="form-control"></textarea>
                    <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <label> Diagnostico: </label>
                    <textarea asp-for="Diagnostico" class="form-control"></textarea>
                    <span asp-validation-for="Diagnostico" class="text-danger"></span>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-center">
                    <img src="/images/alopecia.webp" class="align-self-center" style="width: 300px; height : auto;" />
                </div>              
                <br />
                <div class=" form-group">
                    <label> Plan de tratamiento: </label>
                    <textarea asp-for="PlanTratamiento" class="form-control"></textarea>
                    <span asp-validation-for="PlanTratamiento" class="text-danger"></span>
                </div>                             
                <hr />
                <h6>Sesiones programadas</h6>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group"><label>Sesion 1:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion1Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion1Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion1Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 2:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion2Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion2Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion2Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 3:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion3Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion3Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion3Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 4:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion4Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion4Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion4Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 5:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion5Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion5Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion5Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 6:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion6Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion6Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion6Comentario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group"><label>Sesion 7:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion7Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion7Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion7Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 8:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion8Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion8Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion8Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 9:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion9Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion9Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion9Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 10:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion10Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion10Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion10Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 11:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion11Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion11Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion11Comentario" class="text-danger"></span>
                        </div>
                        <div class=" form-group"><label>Sesion 12:</label></div>
                        <input asp-for="SesionesProgramadas!.Sesion12Fecha" class="form-control" type="datetime-local" />
                        <div class=" form-group">
                            <label> Observaciones: </label>
                            <input asp-for="SesionesProgramadas!.Sesion12Comentario" class="form-control" />
                            <span asp-validation-for="SesionesProgramadas!.Sesion12Comentario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-success mt-2"><i class="oi oi-check"></i> Guardar</button>
                    <button type="button" class="btn btn-sm btn-primary mt-2" data-bs-dismiss="modal"><i class="oi oi-ban"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}