@model EsteticaAvanzada.Models.HistorialViewModel
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<style>
    .imagenes {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .imagen-item {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
    }
</style>

<div class="col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <h3>Dra Key Diaz</h3>
            <h4>Especialista en Medicina Estética, Nutrición y Envejicimiento</h4>
        </div>
        <div class=" card-body">
            <form asp-action="Details" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for ="Paciente!.Id" type="hidden"/>
                <div class=" row">
                    <div class="col-md-4">
                        <label>Fecha: </label>
                        <input asp-for="Fecha" class="form-control" type="date" readonly="true" />
                    </div>
                    <hr />
                    <h6> IDENTIFICACION DEL PACIENTE</h6>
                    <div class=" col-md-6">                                                
                        <div class="form-group">
                            <label>Numero de identidad: </label>
                            <input asp-for="Paciente!.DNI" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.DNI" class="text-danger"></span>
                            <label>Nombre: </label>
                            <input asp-for="Paciente!.NombrePaciente" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.NombrePaciente" class="text-danger"></span>
                            <label>Edad: </label>
                            <input asp-for="Paciente!.Edad" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Edad" class="text-danger"></span>
                            <label>Sexo: </label>
                            <input asp-for="Paciente!.Sexo" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Sexo" class="text-danger"></span>
                             <label>Profesion: </label>
                            <input asp-for="Paciente!.Profesion" class="form-control" readonly="true" />
                            <span asp-validation-for="Paciente!.Profesion" class="text-danger"></span>
                        </div>                                              
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Telefono: </label>
                            <input asp-for="Paciente!.Telefono" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Telefono" class="text-danger"></span>
                            <label>Correo: </label>
                            <input asp-for="Paciente!.Correo" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Correo" class="text-danger"></span>
                            <label>Direccion: </label>
                            <input asp-for="Paciente!.Direccion" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Direccion" class="text-danger"></span>
                            <label> Contacto de emergencia: </label>
                            <input asp-for="Paciente!.Contacto" class="form-control" readonly />
                            <span asp-validation-for="Paciente!.Contacto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" form-group">
                        
                    </div>                  
                </div>
                <hr />
                <div class=" row">
                    <h6> MOTIVO DE CONSULTA</h6>
                    <div class=" form-group">
                        <label> Motivo de Consulta: </label>
                        <textarea asp-for="MotivoConsulta!.Otros" class="form-control"></textarea>
                        <span asp-validation-for="MotivoConsulta!.Otros" class="text-danger"></span>
                    </div>
                    <div class="col-md-10">
                        <h7></h7>
                        <div class="form-group">
                            <label>Imagen</label>
                            <input type="file" class="form-control mb-3" name="file">
                        </div>
                    </div>
                    <div>
                        <h6>Imágenes</h6>
                        <div class="imagenes">
                            @foreach (var imagen in Model.Fotos)
                            {
                                <div class="imagen-item">
                                    <img src="@imagen.RutaArchivo" alt="@imagen.NombreArchivo" style="width:200px;height:200px;" />
                                    <p>@imagen.FechaSubida.ToString("dd/MM/yyyy")</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class=" col-md-6">
                        @* <div class="form-group">                           
                            <label>Envejecimiento: </label>
                            <input asp-for="MotivoConsulta!.Envejecimiento" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Envejecimiento" class="text-danger"></span>                                                                                                                                                             
                        </div>                        
                        <div class=" form-group">
                            <label> Manchas: </label>
                            <input asp-for="MotivoConsulta!.Manchas" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Manchas" class="text-danger"></span>
                        </div>
                        <div class=" form-group">
                            <label> Acné: </label>
                            <input asp-for="MotivoConsulta!.Acne" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Acne" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Cuidado de la piel: </label>
                            <input asp-for="MotivoConsulta!.CuidadoPiel" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.CuidadoPiel" class="text-danger"></span>
                        </div>
                        <div class=" form-group">
                            <label>Rosacea: </label>
                            <input asp-for="MotivoConsulta!.Rosacea" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Rosacea" class="text-danger"></span>
                        </div> *@
                       
                    </div>
                    <div class="col-md-6">
                       @*  <div class=" form-group">
                            <label> Celulitis: </label>
                            <input asp-for="MotivoConsulta!.Celulitis" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Celulitis" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Adiposidad Localizada: </label>
                            <input asp-for="MotivoConsulta!.AdiposidadLocalizada" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.AdiposidadLocalizada" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Flacidez: </label>
                            <input asp-for="MotivoConsulta!.Flacidez" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Flacidez" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Estrias: </label>
                            <input asp-for="MotivoConsulta!.Estrias" type="checkbox" />
                            <span asp-validation-for="MotivoConsulta!.Estrias" class="text-danger"></span>
                        </div>   *@                                        
                        
                    </div>                                      
                </div>
                <hr />
                <div class=" row">
                    <h6> Antecedentes Personales</h6>
                    <div class="form-group">
                        <label> Diabetes: </label>
                        <input asp-for="EstadoSalud!.Diabetes" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.Diabetes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Hipertensión: </label>
                        <input asp-for="EstadoSalud!.Hipertension" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.Hipertension" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Cardiacos: </label>
                        <input asp-for="EstadoSalud!.Cardiacos" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.Cardiacos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Depresión: </label>
                        <input asp-for="EstadoSalud!.Depresion" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.Depresion" class="text-danger"></span>
                    </div>
                    <div class=" form-group">
                        <label>Otros: </label>
                        <textarea asp-for="EstadoSalud!.CardiacosEspecificar" class="form-control"></textarea>
                        <span asp-validation-for="EstadoSalud!.CardiacosEspecificar" class="text-danger"></span>
                    </div>
                    <hr />
                    <h6>Antecedentes Oncologicos</h6>
                    <div class="form-group">
                        <label> Tiroides: </label>
                        <input asp-for="EstadoSalud!.Tiroides" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.Tiroides" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Artrosis: </label>
                        <input asp-for="EstadoSalud!.Artritis" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.Artritis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Porta Marcapasos: </label>
                        <input asp-for="EstadoSalud!.PortaMarcapasos" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.PortaMarcapasos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label> Porta Protesis: </label>
                        <input asp-for="EstadoSalud!.ProtesisMetalicas" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.ProtesisMetalicas" class="text-danger"></span>
                    </div>
                    <hr />
                    <h6> Antecedentes InmunoAlérgicos</h6>
                    <div class="form-group">
                        <label>Medicamentos: </label>
                        <input asp-for="EstadoSalud!.AlergiaMedicamentos" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.AlergiaMedicamentos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Anestésicos: </label>
                        <input asp-for="EstadoSalud!.AlergiaAnestesicos" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.AlergiaAnestesicos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Cósmeticos: </label>
                        <input asp-for="EstadoSalud!.AlergiaCosmeticos" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.AlergiaCosmeticos" class="text-danger"></span>
                    </div>
                    <div class=" form-group">
                        <label>Especifique: </label>
                        <textarea asp-for="EstadoSalud!.AlergiaOtros" class="form-control"></textarea>
                        <span asp-validation-for="EstadoSalud!.AlergiaOtros" class="text-danger"></span>
                    </div>
                   @*  <div class="form-group">
                        <label>Alergia a perfumes: </label>
                        <input asp-for="EstadoSalud!.AlergiaPerfumes" type="checkbox" />
                        <span asp-validation-for="EstadoSalud!.AlergiaPerfumes" class="text-danger"></span>
                    </div> *@
                   
                   @*  <div class=" col-md-6">                       
                        
                       
                        <div class="form-group">
                            <label> Digestivos: </label>
                            <input asp-for="EstadoSalud!.Digestivos" type="checkbox" />
                            <span asp-validation-for="EstadoSalud!.Digestivos" class="text-danger"></span>
                        </div>
                        <div class=" form-group">
                            <label>Especifique: </label>
                            <input asp-for="EstadoSalud!.DigestivosEspecificar" class="form-control" />
                            <span asp-validation-for="EstadoSalud!.DigestivosEspecificar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Estreñimiento: </label>
                            <input asp-for="EstadoSalud!.Estreñimiento" type="checkbox" />
                            <span asp-validation-for="EstadoSalud!.Estreñimiento" class="text-danger"></span>
                        </div>                        
                        
                        <div class="form-group">
                            <label> Lentes de contacto: </label>
                            <input asp-for="EstadoSalud!.LentesContacto" type="checkbox" />
                            <span asp-validation-for="EstadoSalud!.LentesContacto" class="text-danger"></span>
                        </div>                                             
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Antecedentes Oncologicos: </label>
                            <input asp-for="EstadoSalud!.AntOncologicos" type="checkbox" />
                            <span asp-validation-for="EstadoSalud!.AntOncologicos" class="text-danger"></span>
                        </div>
                        <div class=" form-group">
                            <label>Especifique: </label>
                            <input asp-for="EstadoSalud!.AntOncologicosEspecificar" class="form-control" />
                            <span asp-validation-for="EstadoSalud!.AntOncologicosEspecificar" class="text-danger"></span>
                        </div>
                       
                        <div class=" form-group">
                            <label>Especifique: </label>
                            <input asp-for="EstadoSalud!.TiroidesEspecificar" class="form-control" />
                            <span asp-validation-for="EstadoSalud!.TiroidesEspecificar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Artritis: </label>
                            <input asp-for="EstadoSalud!.Artritis" type="checkbox" />
                            <span asp-validation-for="EstadoSalud!.Artritis" class="text-danger"></span>
                        </div>                                                                    
                    </div> *@
                    <hr />
                    <div class="row">
                        <div class="form-group col-md-12 mb-1">
                            <h6>Antecedentes Familiares</h6>
                            <br />
                            @* <label> Diabetes: </label>
                            <input asp-for="AntecedentesFamiliares!.Diabetes" type="checkbox" />
                            <span asp-validation-for="AntecedentesFamiliares!.Diabetes" class="text-danger"></span>
                            <label> Cancer: </label>
                            <input asp-for="AntecedentesFamiliares!.Cancer" type="checkbox" />
                            <span asp-validation-for="AntecedentesFamiliares!.Diabetes" class="text-danger"></span>
                            <label> Asma: </label>
                            <input asp-for="AntecedentesFamiliares!.Asma" type="checkbox" />
                            <span asp-validation-for="AntecedentesFamiliares!.Asma" class="text-danger"></span>
                            <label> HTA: </label>
                            <input asp-for="AntecedentesFamiliares!.HTA" type="checkbox" />
                            <span asp-validation-for="AntecedentesFamiliares!.HTA" class="text-danger"></span> *@
                            <label> Especifique: </label>
                            <textarea asp-for="EstadoSalud!.OtrosPadecimientos" class="form-control" ></textarea>
                            <span asp-validation-for="EstadoSalud!.OtrosPadecimientos" class="text-danger"></span>
                        </div>                                               
                    </div>
                    <hr />
                    <div class=" row">
                        <div class=" form-group col-md-6 mb-1">
                            <h6>Antecedentes Ginecoobstreticos</h6>
                            <br />
                            <label> Gestas: </label>
                            <input asp-for="EstadoSalud!.Embarazos" class="form-control" type="number" />
                            <span asp-validation-for="EstadoSalud!.Embarazos" class="text-danger"></span>
                            <label> Partos: </label>
                            <input asp-for="EstadoSalud!.Partos" class="form-control" type="number" />
                            <span asp-validation-for="EstadoSalud!.Partos" class="text-danger"></span>
                            <label> Cesareas: </label>
                            <input asp-for="EstadoSalud!.Cesareas" class="form-control" type="number" />
                            <span asp-validation-for="EstadoSalud!.Cesareas" class="text-danger"></span>
                            
                            <label> Lactancia materna: </label>
                            <input asp-for="EstadoSalud!.LactanciaMaterna" type="checkbox" />
                            <span asp-validation-for="EstadoSalud!.LactanciaMaterna" class="text-danger"></span>
                        </div>
                        <div class=" form-group col-md-6 mt-1">
                            <br />
                            <br />
                            <label> Abortos: </label>
                            <input asp-for="EstadoSalud!.Abortos" class="form-control" type="number" />
                            <span asp-validation-for="EstadoSalud!.Abortos" class="text-danger"></span>
                            <label> FUM: </label>
                            <input asp-for="EstadoSalud!.FechaUltimaMenstruacion" class="form-control" type="date" />
                            <span asp-validation-for="EstadoSalud!.FechaUltimaMenstruacion" class="text-danger"></span>
                            <label> Metodo planificacion familiar: </label>
                            <input asp-for="EstadoSalud!.MetodoAnticonceptivo" class="form-control" />
                            <span asp-validation-for="EstadoSalud!.MetodoAnticonceptivo" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class=" row">
                       @*  <h6> ANTECEDENTES QUIRURGICOS</h6>
                        <div class=" col-md-12">
                            <div class="form-group">
                                <label> Hospitalizaciones: </label>
                                <input asp-for="AntecedentesQuirurgicos!.Hospitalizaciones" type="checkbox" />
                                <span asp-validation-for="AntecedentesQuirurgicos!.Cirugia" class="text-danger"></span>
                            </div>
                            <div class=" form-group">
                                <label>Especifique: </label>
                                <input asp-for="AntecedentesQuirurgicos!.HispitalizacionesEspecificar" class="form-control" />
                                <span asp-validation-for="AntecedentesQuirurgicos!.HispitalizacionesEspecificar" class="text-danger"></span>
                            </div>
                        </div> *@
                    </div>
                    <hr />
                    <div class="row">
                        <h6>Habitos Toxicos</h6>
                        <div class="form-group col-md-6 mb-1">                            
                            <label> Alcohol: </label>
                            <input asp-for="Habitos!.Alcohol" type="checkbox" />
                            <span asp-validation-for="Habitos!.Alcohol" class="text-danger"></span>
                            <label> Tabaco: </label>
                            <input asp-for="Habitos!.Tabaco"  type="checkbox" />
                            <span asp-validation-for="Habitos!.Tabaco" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 mb-1">
                            <label> Ultima ingesta: </label>
                            <input asp-for="Habitos!.UltimaIngesta" class="form-control" type="date"  />
                            <span asp-validation-for="Habitos!.UltimaIngesta" class="text-danger"></span>
                            <label> # Frecuencia: </label>
                            <input asp-for="Habitos!.Frecuencia" class="form-control" type="number"  />
                            <span asp-validation-for="Habitos!.Frecuencia" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-1">
                            <h6>Habitos de actividad fisica</h6>
                            <label> Realiza algun deporte: </label>
                            <input asp-for="Habitos!.PracticaDeporte" type="checkbox" />
                            <span asp-validation-for="Habitos!.PracticaDeporte" class="text-danger"></span>
                            <label> Especifique: </label>
                            <input asp-for="Habitos!.EspecifiqueDeporte" class="form-control" />
                            <span asp-validation-for="Habitos!.EspecifiqueDeporte" class="text-danger"></span>
                            <br />
                            <h6>Habitos de sueño</h6>
                            @* <div class="col-md-4">
                                <label> # Horas de sueño: </label>
                                <input asp-for="Habitos!.HorasSueño" class="form-control" type="number" />
                                <span asp-validation-for="Habitos!.HorasSueño" class="text-danger"></span>
                            </div>  *@
                            <label> Especifique: </label>
                            <input asp-for="Habitos!.EspecifiqueSueño" class="form-control" />
                            <span asp-validation-for="Habitos!.EspecifiqueSueño" class="text-danger"></span>
                        </div>                      
                    </div>                         
                </div>
                <hr />                             
                <div class=" card-footer ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="oi oi-check"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="oi oi-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



